.nav__brand {
  background-color: $orange !important;
  display: flex;
  justify-content: space-between !important;
}

.sidebar__main {
  background-color: $darkBlue !important;
}

.sidebar__minimizer {
  background-color: transparent !important;
}

.sidebarIcon {
  color: $orange !important;
}

button:focus,
input:focus {
  outline: none;
}

.nav__search {
  display: flex;
  opacity: 0.5;
  align-items: center;
  margin-left: 20%;

  .icon {
    width: 35px;
    height: 35px;
  }

  input {
    border: none;
    font-size: 1.5em;
  }
}

.form-error {
  display: block !important;
}

.user__avatar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;

  span {
    font-size: smaller;
  }
}

.content__container {
  background-color: $white;
  border-radius: 5px;
  padding: 20px;
}

.orange__btn {
  background-color: $orange !important;
  color: $white !important;
  padding: 10px 30px !important;
  &:hover {
    background-color: $darkBlue !important;
  }
}

.blue__btn {
  background-color: $darkBlue !important;
  color: $white !important;
  padding: 10px 30px !important;
  &:hover {
    background-color: $orange !important;
  }
}
